.AliceBlue {background-color: #F0F8FF; }
.AntiqueWhite {background-color: #FAEBD7; }
.Aqua {background-color: #00FFFF; }
.Aquamarine1 {background-color: #70DB93; }
.Aquamarine2 {background-color: #7FFFD4; }
.Azure {background-color: #F0FFFF; }
.Beige {background-color: #F5F5DC; }
.Bisque {background-color: #FFE4C4; }
.Black {background-color: #000000; }
.BlanchedAlmond {background-color: #FFEBCD; }
.Blue {background-color: #0000FF; }
.BlueViolet1 {background-color: #9F5F9F; }
.BlueViolet2 {background-color: #8A2BE2; }
.Brass {background-color: #B5A642; }
.BrightGold {background-color: #D9D919; }
.Bronze {background-color: #8C7853; }
.BronzeII {background-color: #A67D3D; }
.Brown {background-color: #A52A2A; }
.BurlyWood {background-color: #DEB887; }
.CadetBlue1 {background-color: #5F9EA0; }
.CadetBlue2 {background-color: #5F9F9F; }
.Chartreuse {background-color: #7FFF00; }
.Chocolate {background-color: #5C3317; }
.CoolCopper {background-color: #D98719; }
.Copper {background-color: #B87333; }
.Coral {background-color: #FF7F00; }
.CornFlowerBlue1 {background-color: #42426F; }
.CornFlowerBlue2 {background-color: #6495ED; }
.Cornsilk {background-color: #FFF8DC; }
.Crimson {background-color: #DC143C; }
.Cyan {background-color: #00FFFF; }
.DarkBlue {background-color: #00008B; }
.DarkBrown {background-color: #5C4033; }
.DarkCyan {background-color: #008B8B; }
.DarkGoldenrod {background-color: #B8860B; }
.DarkGreen1 {background-color: #2F4F2F; }
.DarkGreen2 {background-color: #006400; }
.DarkGreenCopper {background-color: #4A766E; }
.DarkGrey {background-color: #A9A9A9; }
.DarkKhaki {background-color: #BDB76B; }
.DarkMagenta {background-color: #8B008B; }
.DarkOliveGreen1 {background-color: #4F4F2F; }
.DarkOliveGreen2 {background-color: #556B2F; }
.DarkOrange {background-color: #FF8C00; }
.DarkOrchid1 {background-color: #9932CD; }
.DarkOrchid2 {background-color: #9932CC; }
.DarkPurple {background-color: #871F78; }
.DarkRed {background-color: #8B0000; }
.DarkSalmon {background-color: #E9967A; }
.DarkSeaGreen {background-color: #8FBC8F; }
.DarkSlateBlue1 {background-color: #6B238E; }
.DarkSlateBlue2 {background-color: #483D8B; }
.DarkSlateGrey {background-color: #2F4F4F; }
.DarkTan {background-color: #97694F; }
.DarkTurquoise1 {background-color: #7093DB; }
.DarkTurquoise2 {background-color: #00CED1; }
.DarkViolet {background-color: #9400D3; }
.DarkWood {background-color: #855E42; }
.DeepPink {background-color: #FF1493; }
.DeepSkyBlue {background-color: #00BFFF; }
.DimGrey1 {background-color: #545454; }
.DimGrey2 {background-color: #696969; }
.DodgerBlue {background-color: #1E90FF; }
.DustyRose {background-color: #856363; }
.FadedBrown {background-color: #F5CCB0; }
.Feldspar {background-color: #D19275; }
.FireBrick1 {background-color: #8E2323; }
.FireBrick2 {background-color: #B22222; }
.FloralWhite {background-color: #FFFAF0; }
.ForestGreen1 {background-color: #238E23; }
.ForestGreen2 {background-color: #228B22; }
.Fuchsia {background-color: #FF00FF; }
.Gainsboro {background-color: #DCDCDC; }
.GhostWhite {background-color: #F8F8FF; }
.Gold1 {background-color: #CD7F32; }
.Gold2 {background-color: #FFD700; }
.Goldenrod1 {background-color: #DBDB70; }
.Goldenrod2 {background-color: #DAA520; }
.Green1 {background-color: #00FF00; }
.Green2 {background-color: #008000; }
.GreenCopper {background-color: #527F76; }
.GreenYellow1 {background-color: #93DB70; }
.GreenYellow2 {background-color: #ADFF2F; }
.Grey00 {background-color: #FFFFFF; }
.Grey01 {background-color: #F8F8F8; }
.Grey02 {background-color: #F0F0F0; }
.Grey03 {background-color: #E8E8E8; }
.Grey04 {background-color: #E0E0E0; }
.Grey05 {background-color: #D8D8D8; }
.Grey06 {background-color: #D0D0D0; }
.Grey07 {background-color: #C8C8C8; }
.Grey08 {background-color: #C0C0C0; }
.Grey09 {background-color: #B8B8B8; }
.Grey10 {background-color: #B0B0B0; }
.Grey11 {background-color: #A8A8A8; }
.Grey12 {background-color: #A0A0A0; }
.Grey13 {background-color: #989898; }
.Grey14 {background-color: #909090; }
.Grey15 {background-color: #888888; }
.Grey16 {background-color: #808080; }
.Grey17 {background-color: #787878; }
.Grey18 {background-color: #707070; }
.Grey19 {background-color: #686868; }
.Grey20 {background-color: #606060; }
.Grey21 {background-color: #585858; }
.Grey22 {background-color: #505050; }
.Grey23 {background-color: #484848; }
.Grey24 {background-color: #404040; }
.Grey25 {background-color: #383838; }
.Grey26 {background-color: #303030; }
.Grey27 {background-color: #282828; }
.Grey28 {background-color: #202020; }
.Grey29 {background-color: #181818; }
.Grey30 {background-color: #101010; }
.Grey31 {background-color: #080808; }
.Grey32 {background-color: #000000; }
.Honeydew {background-color: #F0FFF0; }
.HotPink {background-color: #FF69B4; }
.HunterGreen {background-color: #215E21; }
.IndianRed1 {background-color: #4E2F2F; }
.IndianRed2 {background-color: #CD5C5C; }
.Indigo {background-color: #4B0082; }
.Ivory {background-color: #FFFFF0; }
.Khaki1 {background-color: #9F9F5F; }
.Khaki2 {background-color: #F0E68C; }
.Lavender {background-color: #E6E6FA; }
.LavenderBlush {background-color: #FFF0F5; }
.LawnGreen {background-color: #7CFC00; }
.LemonChiffon {background-color: #FFFACD; }
.LightBlue1 {background-color: #C0D9D9; }
.LightBlue2 {background-color: #ADD8E6; }
.LightCoral {background-color: #F08080; }
.LightCyan {background-color: #E0FFFF; }
.LightGoldenrodYellow {background-color: #FAFAD2; }
.LightGreen {background-color: #90EE90; }
.LightGrey1 {background-color: #A8A8A8; }
.LightGrey2 {background-color: #D3D3D3; }
.LightPink {background-color: #FFB6C1; }
.LightSalmon {background-color: #FFA07A; }
.LightSeaGreen {background-color: #20B2AA; }
.LightSkyBlue {background-color: #87CEFA; }
.LightSlateBlue {background-color: #8470FF; }
.LightSlateGrey {background-color: #778899; }
.LightSteelBlue1 {background-color: #8F8FBD; }
.LightSteelBlue2 {background-color: #B0C4DE; }
.LightWood {background-color: #E9C2A6; }
.LightYellow {background-color: #FFFFE0; }
.Lime {background-color: #00FF00; }
.LimeGreen {background-color: #32CD32; }
.Linen {background-color: #FAF0E6; }
.Magenta {background-color: #FF00FF; }
.MandarianOrange {background-color: #E47833; }
.Maroon {background-color: #800000; }
.MediumAquamarine1 {background-color: #32CD99; }
.MediumAquamarine2 {background-color: #66CDAA; }
.MediumBlue1 {background-color: #3232CD; }
.MediumBlue2 {background-color: #0000CD; }
.MediumForestGreen {background-color: #6B8E23; }
.MediumGoldenrod {background-color: #EAEAAE; }
.MediumOrchid1 {background-color: #9370DB; }
.MediumOrchid2 {background-color: #BA55D3; }
.MediumPurple {background-color: #9370DB; }
.MediumSeaGreen1 {background-color: #426F42; }
.MediumSeaGreen2 {background-color: #3CB371; }
.MediumSlateBlue1 {background-color: #7F00FF; }
.MediumSlateBlue2 {background-color: #7B68EE; }
.MediumSpringGreen1 {background-color: #7FFF00; }
.MediumSpringGreen2 {background-color: #00FA9A; }
.MediumTurquoise1 {background-color: #70DBDB; }
.MediumTurquoise2 {background-color: #48D1CC; }
.MediumVioletRed1 {background-color: #DB7093; }
.MediumVioletRed2 {background-color: #C71585; }
.MediumWood {background-color: #A68064; }
.MidnightBlue1 {background-color: #2F2F4F; }
.MidnightBlue2 {background-color: #191970; }
.MintCream {background-color: #F5FFFA; }
.MistyRose {background-color: #FFE4E1; }
.Moccasin {background-color: #FFE4B5; }
.NavajoWhite {background-color: #FFDEAD; }
.Navy {background-color: #000080; }
.NavyBlue {background-color: #23238E; }
.NeonBlue {background-color: #4D4DFF; }
.NeonPink {background-color: #FF6EC7; }
.NewMidnightBlue {background-color: #00009C; }
.NewTan {background-color: #EBC79E; }
.OldGold {background-color: #CFB53B; }
.OldLace {background-color: #FDF5E6; }
.Olive {background-color: #808000; }
.OliveDrab {background-color: #6B8E23; }
.Orange1 {background-color: #FF7F00; }
.Orange2 {background-color: #FFA500; }
.OrangeRed1 {background-color: #FF2400; }
.OrangeRed2 {background-color: #FF4500; }
.Orchid {background-color: #DB70DB; }
.PaleGoldenrod {background-color: #EEE8AA; }
.PaleGreen1 {background-color: #8FBC8F; }
.PaleGreen2 {background-color: #98FB98; }
.PaleTurquoise {background-color: #AFEEEE; }
.PaleVioletRed1 {background-color: #D87093; }
.PaleVioletRed2 {background-color: #DB7093; }
.PapayaWhip {background-color: #FFEFD5; }
.PeachPuff {background-color: #FFDAB9; }
.Peru {background-color: #CD853F; }
.Pink1 {background-color: #BC8F8F; }
.Pink2 {background-color: #FFC0CB; }
.Plum1 {background-color: #EAADEA; }
.Plum2 {background-color: #DDA0DD; }
.PowderBlue {background-color: #B0E0E6; }
.Purple1 {background-color: #800080; }
.Purple2 {background-color: #A020F0; }
.Quartz {background-color: #D9D9F3; }
.Red {background-color: #FF0000; }
.RichBlue {background-color: #5959AB; }
.RosyBrown {background-color: #BC8F8F; }
.RoyalBlue {background-color: #4169E1; }
.SaddleBrown {background-color: #8B4513; }
.Salmon1 {background-color: #6F4242; }
.Salmon2 {background-color: #FA8072; }
.SandyBrown {background-color: #F4A460; }
.Scarlet {background-color: #8C1717; }
.SeaGreen1 {background-color: #238E68; }
.SeaGreen2 {background-color: #2E8B57; }
.SeaShell {background-color: #FFF5EE; }
.Semi-SweetChocolate {background-color: #6B4226; }
.Sienna1 {background-color: #8E6B23; }
.Sienna2 {background-color: #A0522D; }
.Silver1 {background-color: #E6E8FA; }
.Silver2 {background-color: #C0C0C0; }
.SkyBlue1 {background-color: #87CEEB; }
.SkyBlue2 {background-color: #3299CC; }
.SlateBlue1 {background-color: #007FFF; }
.SlateBlue2 {background-color: #6A5ACD; }
.SlateGrey {background-color: #708090; }
.Snow {background-color: #FFFAFA; }
.SpicyPink {background-color: #FF1CAE; }
.SpringGreen {background-color: #00FF7F; }
.SteelBlue1 {background-color: #236B8E; }
.SteelBlue2 {background-color: #4682B4; }
.SummerSky {background-color: #38B0DE; }
.Tan1 {background-color: #DB9370; }
.Tan2 {background-color: #D2B48C; }
.Teal {background-color: #008080; }
.Thistle {background-color: #D8BFD8; }
.Tomato {background-color: #FF6347; }
.Turquoise1 {background-color: #ADEAEA; }
.Turquoise2 {background-color: #40E0D0; }
.VeryLightGrey {background-color: #CDCDCD; }
.Violet1 {background-color: #4F2F4F; }
.Violet2 {background-color: #EE82EE; }
.VioletRed {background-color: #CC3299; }
.Wheat1 {background-color: #D8D8BF; }
.Wheat2 {background-color: #F5DEB3; }
.White {background-color: #FFFFFF; }
.WhiteSmoke {background-color: #F5F5F5; }
.Yellow {background-color: #FFFF00; }
.YellowGreen1 {background-color: #99CC32; }
.YellowGreen2 {background-color: #9ACD32; }
